#search-result-to-user 
{
  background-color:beige;
}
#search-result-to-user 
{
  margin-left: 1rem;
}
#search-result-to-user 
{
  margin-right: 10rem;
}
#search-result-to-user 
{
  margin-top: 1.5rem;
}
#search-result-to-user 
{
  text-align: center;
}
#search-result-to-user 
{
  border:1px black solid;
}
#search-result-to-user 
{
  height: 3rem;
}
#search-result-to-user 
{
  line-height: 3rem;
}