<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/hakimLogoSmall.png">
    <title>Checkout</title>
     <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <link href="../css/checkout.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a th:href="@{/}"><img src="../images/hakimLogo.png" alt="Hakim Livs Logo" id="logo"></a>

    </div>
  </nav>


    <div class="container-order">
        <h2>Ordersammanställning</h2>
        <table class="summary-table" id="summary-table">
            <thead class="table-head">
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
                <th>Antal</th>
                <th></th>
                <th>Totalt</th>
            </tr>
            </thead>
            <tbody id="order-entries"></tbody>
        </table>
        <div id="total-sum"><strong>Totalsumma: </strong><span id="total-cart"></span></div>
    </div>

<!--
    <script th:inline="javascript">
        /*<![CDATA[*/

        let tempcart = JSON.parse(localStorage.getItem("cart"));
        let productmap = new Map();
        tempcart.forEach(item => productmap.set(item.id, item.quantity));

        /*]]>*/
    </script>

    <p th:text="${#maps.isEmpty(${productmap})}"></p>
    -->

    <!-- Behålls till framtida roll-tester -->
<!--    <div sec:authorize="!isAuthenticated()">
       Not authenticated
  </div>
  <div sec:authorize="isAuthenticated()">
      This content is only shown to authenticated users.
  </div>
  <div sec:authorize="hasAuthority('ROLE_CUSTOMER')">
      This content is only shown to role_customer.
  </div>-->

    <div class="button-center">
        <div id="customerid" th:value="${thcustomerid}"></div>
      <button class="btn btn-primary" id="finish-checkout-btn-two">Slutför beställning</button>
    </div>


<!-- Footer -->
<footer class="bg-dark mt-auto" id="footer-check">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 left">
        <a href="history.html" class="undecorated-link">Hakim Livs - Vår Historia</a>
      </div>
      <div class="col-lg-4 center">
        <p class="m-0 text-white">Copyright &copy; Hakim Livs 2021</p>
      </div>
      <div class="col-lg-4 right">
         <div class="m-0 text-white" id="kontaktUppgifter">
         </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>

<script src="../js/jquery.js"></script>
<script src="../js/order.js"></script>
<script src="../js/bootstrap.bundle.js"></script>
<script src="../js/validation.js"></script>
<script src="../js/sidofot-uppgifter.js" async></script>
</body>
</html>
